@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
	--color-brand-primary: #f54749;
	--color-brand-background: #ffebeb;
	--color-brand-secondary: #ffcb68;
	--color-brand-accent: #d84347;
	--color-brand-dark: #700d00;

	--color-neutral-100: #ffffff;
	--color-neutral-900: #000000;
	--color-neutral-700: #707070;
	--color-neutral-600: #675e5d;

	--color-support-info: #00214e;
	--color-support-warning: #fefac9;
	--color-support-success: #f9ebdb;
}

@theme inline {
	--color-primary: var(--color-brand-primary);
	--color-secondary: var(--color-brand-secondary);
	--color-accent: var(--color-brand-accent);
	--color-brand-dark: var(--color-brand-dark);
	--color-background: var(--color-brand-background);

	--color-neutral-100: var(--color-neutral-100);
	--color-neutral-600: var(--color-neutral-600);
	--color-neutral-700: var(--color-neutral-700);
	--color-neutral-900: var(--color-neutral-900);

	--color-info: var(--color-support-info);
	--color-warning: var(--color-support-warning);
	--color-success: var(--color-support-success);
}

body {
	color: var(--color-neutral-900);
	font-family: var(--font-poppins);
}

.word-spacing {
	word-spacing: -1px;
	hyphens: auto;
}
